.navbar {
    background: $navbar-color;
    opacity: 0.8;

    .navbar-toggler {
        outline: none;
        border: none;
    }

    .logo {
        font-size: 2rem;
    }

    .logo-text {
        font-family: $logo-font-family;
    }
}

@media (min-width: 768px) {
    .navbar-nav li a.link-menu {
        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $main-style-color;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
    }

    .navbar-nav li a.link-menu {
        &:hover:after {
            transform: scaleX(1);
        }
    }
}
