* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  color: white; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.btn.active,
.btn:active,
.btn:focus,
a.active,
a:active,
a:focus,
button.active,
button:active,
button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important; }

.navbar {
  background: black;
  opacity: 0.8; }
  .navbar .navbar-toggler {
    outline: none;
    border: none; }
  .navbar .logo {
    font-size: 2rem; }
  .navbar .logo-text {
    font-family: "Allura", cursive; }

@media (min-width: 768px) {
  .navbar-nav li a.link-menu:after {
    display: block;
    content: '';
    border-bottom: solid 3px #bd9905;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .navbar-nav li a.link-menu:hover:after {
    transform: scaleX(1); } }

/*h1.fromRight:after{ transform-origin:100% 50%; }
h1.fromLeft:after{  transform-origin:  0% 50%; }*/
#section-intro {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/background-main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }
  #section-intro .text-intro-welcome {
    font-family: "Allura", cursive;
    font-weight: lighter;
    color: #aea694;
    font-size: 2.5rem; }
  #section-intro .text-intro-name {
    font-family: "Lato", sans-serif;
    font-size: 2.5rem; }
  #section-intro .text-intro-bottom {
    font-family: "Lato", sans-serif;
    color: #aea694; }
    #section-intro .text-intro-bottom span {
      border-top: 1px solid #aea694;
      border-bottom: 1px solid #aea694;
      display: inline-block;
      width: 200px; }
  #section-intro .btn-intro {
    background-color: rgba(174, 166, 148, 0.3);
    width: 120px;
    border-radius: 10px; }
    #section-intro .btn-intro:hover {
      background-color: rgba(174, 166, 148, 0.45); }

@media (min-width: 768px) {
  #section-intro {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/background-main.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; }
    #section-intro .text-welcome {
      font-family: "Allura", cursive;
      font-weight: lighter;
      color: #aea694;
      font-size: 4rem; }
    #section-intro .text-intro-name {
      font-family: "Lato", sans-serif;
      font-size: 4rem; } }

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

.about-row {
  padding: 60px 0; }

.slick {
  transition: all 0.2s ease-in-out; }

.slick-slide {
  transform: scale(1, 1);
  position: relative;
  outline: none;
  transition: all 0.2s ease-in-out; }

.slick-current {
  transform: scale(1.1, 1.1);
  z-index: 2;
  overflow: hidden; }

.slick-active {
  cursor: pointer; }

.slick-center {
  transform: scale(1.1, 1.1);
  z-index: 2;
  overflow: hidden; }

.slick-slide .slider-item {
  display: block;
  width: 100%;
  height: 340px;
  background-color: #191307; }
  .slick-slide .slider-item--second {
    background-image: url("../images/c1.jpg"); }
  .slick-slide .slider-item--third {
    background-image: url("../images/c2.jpg"); }
  .slick-slide .slider-item--fourth {
    background-image: url("../images/c3.jpg"); }

.slick-list {
  overflow: visible; }

.item-border {
  border: 1px dashed rgba(174, 166, 148, 0.6);
  height: 90%;
  width: 90%; }

.item-content {
  padding: 5px;
  max-height: 100%; }
  .item-content .content-title-first {
    font-family: 'Allura', cursive;
    color: #aea694;
    font-size: 2.2rem;
    margin: 0; }
  .item-content .content-title-second {
    font-size: 1.4rem;
    position: relative;
    top: -15px;
    margin: 0; }
  .item-content .content-text {
    font-size: 0.6rem;
    color: #aea694; }
  .item-content .content-chef-image {
    width: 50px;
    height: 50px;
    margin: 0 auto 5px;
    border-radius: 50%;
    background-color: white;
    background-image: url("../images/chef.jpg");
    background-position: center;
    background-size: contain; }
  .item-content .content-chef-name {
    margin-top: 10px;
    font-size: 0.9rem; }
  .item-content .content-chef-title {
    color: #aea694;
    font-size: 0.7rem; }

@media (min-width: 768px) {
  .slider-wrapper {
    margin: 50px auto; }
  .slick-center {
    transform: scale(1.3, 1.3); }
  .slick-slide .slider-item {
    height: 380px; }
  .item-content .content-text {
    font-size: 0.8rem; } }

#section-menu {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/m1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  #section-menu .menu-wrapper {
    height: 100%; }
  #section-menu .menu {
    width: 90%;
    height: 90%; }
    #section-menu .menu .menu-left {
      background-color: #191307;
      padding: 10px 15px; }
    #section-menu .menu .menu-right {
      background-color: white; }
  #section-menu .menu-left
.menu-border {
    border: 1px dashed rgba(174, 166, 148, 0.6);
    width: 95%;
    height: 95%; }
  #section-menu .menu-left-content,
  #section-menu .menu-right-content {
    padding: 5px;
    max-height: 100%; }
    #section-menu .menu-left-content .menu-title-first,
    #section-menu .menu-right-content .menu-title-first {
      font-family: 'Allura', cursive;
      color: #aea694;
      font-size: 2.3rem;
      margin: 0; }
    #section-menu .menu-left-content .menu-title-second,
    #section-menu .menu-right-content .menu-title-second {
      font-size: 1.6rem;
      position: relative;
      top: -15px;
      margin: 0; }
  #section-menu .menu-list {
    list-style-type: none;
    padding-bottom: 40px; }
    #section-menu .menu-list .menu-list-item {
      font-size: 1.2rem;
      padding: 5px; }
      #section-menu .menu-list .menu-list-item a {
        color: #aea694;
        text-decoration: none;
        transition: .15s all; }
        #section-menu .menu-list .menu-list-item a:hover {
          color: white; }
        #section-menu .menu-list .menu-list-item a.active {
          color: white; }
  #section-menu .active-menu-list {
    list-style-type: none;
    color: #191307;
    padding-left: 0 !important;
    margin: 10%; }
    #section-menu .active-menu-list .active-list-item {
      margin-top: 10px;
      font-size: 1rem;
      border-bottom: 1px solid rgba(174, 166, 148, 0.3); }
      #section-menu .active-menu-list .active-list-item i {
        display: block;
        font-size: .9rem;
        color: #aea694; }
        #section-menu .active-menu-list .active-list-item i.dish-price {
          color: #191307;
          font-size: .9rem;
          padding-top: 3px; }

@media (min-width: 768px) {
  #section-menu {
    height: 100vh; }
    #section-menu .menu {
      width: 80%;
      height: 80%; }
    #section-menu .menu-list {
      margin-top: 20px;
      padding-bottom: 0; }
      #section-menu .menu-list .menu-list-item {
        font-size: 1.3rem; } }
